.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  width: 150px;
  height: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: teal;
}

.card > .img-container:hover {
  border-radius: 2px;
  transform: scale(1.2);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container > img {
  height: 100%;
}

.card > .img-container:hover {
  transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
}
